{% extends "base.html" %}
{% load static %}

{% block page_title %} ユーザリスト {% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
<h1>ユーザリスト</h1>
<div class="ui four cards">
    {% for user in user_list %}
    <div class="ui card">
        <div class="image">
            {% if user.photo %}
            <img src="{{ user.photo.url }}">
            {% else %}
            <img src="{% static 'images/unknown_user.png'%}">
            {% endif %}
        </div>
        <div class="content">
            <div class="header"><a href="{% url 'users:user_detail' user.name %}">{{ user.name }}</a></div>
            <div class="ui divided list">
            </div>
        </div>
        <div class="extra content">
            <a href="{% url 'users:user_detail' user.name %}" class="ui right floated positive button">ユーザー詳細</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
