{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}
<div class="content">
    <div class="header">{{ book.title }}</div>
    <div class="image">
        {% if book.image %}
        <img src="{{ book.image.url }}">
        {% else %}
        <img src="{% static 'images/unknown_book.png'%}">
        {% endif %}
    </div>
    <div class="ui divided list">
        <span class="item">
            <div class="ui horizontal label">オーナー</div>
            <a href="{% url 'users:user_detail' user_name=book.owner %}">{{ book.owner }}</a>
            <form action="" method="POST">
              {% csrf_token %}
              <button type="button" name="button1" id = "mail_btn" >貸出リクエスト</button>
              <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
              <script src="{% static 'js/common.js' %}"></script>
              <script>
                $("#mail_btn").click(function(){
                  console.log('button click detected!');
                  var formData = new FormData();
                  // formData.append("image", $(this)[0].files[0]);
                  var token = '{{csrf_token}}';
                  $.ajax({
                    headers: { "X-CSRFToken": token },
                    type: "post",
                    url: "{% url 'books:book_detail' book_title=book.title %}",
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function(data){
                      console.log(data)
                    }
                  });
                });
              </script>

            </form>
        </span>
        <span class="item">
            <div class="ui horizontal label">ボロワー</div>
            <a href="{% url 'users:user_detail' user_name=book.borrower %}">{{ book.borrower }}</a>
        </span>
        <span class="item">
            <div class="ui horizontal label">著者</div>{{ book.author }}
        </span>
        <span class="item">
            <div class="ui horizontal label">価格</div>{{ book.price }}円
        </span>
        <span class="item">
            <div class="ui horizontal label">出版社</div>{{ book.publisher }}
        </span>
        <span class="item">
            <div class="ui horizontal label">出版日</div>{{ book.publish_date|date:"Y年m月d日" }}
        </span>
        <span class="item">
            <div class="ui horizontal label">要約</div>
            <div class="description">{{ book.abstract|default:""|linebreaksbr }}</div>
        </span>
    </div>
</div>
<div class="extra content">
    <a href="{% url 'books:index' %}" class="ui right floated positive button">書籍一覧</a>
</div>
{% endblock %}
