{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}
<div class="content">
    <div class="header">{{ book.title }}</div>
    <div class="image">
        {% if book.image %}
        <img src="{{ book.image.url }}">
        {% else %}
        <img src="{% static 'images/unknown_book.png'%}">
        {% endif %}
    </div>
    <div class="ui divided list">
        <span class="item">
            <div class="ui horizontal label">オーナー</div>
            <a href="{% url 'users:user_detail' user_name=book.owner %}">{{ book.owner }}</a>
        </span>
        <span class="item">
            <div class="ui horizontal label">ボロワー</div>
            <a href="{% url 'users:user_detail' user_name=book.borrower %}">{{ book.borrower }}</a>
        </span>
        <span class="item">
            <div class="ui horizontal label">著者</div>{{ book.author }}
        </span>
        <span class="item">
            <div class="ui horizontal label">価格</div>{{ book.price }}円
        </span>
        <span class="item">
            <div class="ui horizontal label">出版社</div>{{ book.publisher }}
        </span>
        <span class="item">
            <div class="ui horizontal label">出版日</div>{{ book.publish_date|date:"Y年m月d日" }}
        </span>
        <span class="item">
            <div class="ui horizontal label">要約</div>
            <div class="description">{{ book.abstract|default:""|linebreaksbr }}</div>
        </span>
    </div>
</div>
<div class="extra content">
    <a href="{% url 'books:index' %}" class="ui right floated positive button">書籍一覧</a>
</div>
{% endblock %}
